before_game/withNetworkPrediction
before_game/WithSpreads
before_game/hashTables
during_game/nba_data/
during_game/ncaa_data/
before_game/stats/*
lstm_models/
during_game/half_time_spreads/
during_game/2H_comparison.csv
during_game/ComparisonsMine.csv
